body {
    font-family: sans-serif;
    background: url('https://webpulse.imgsmail.ru/imgpreview?mb=webpulse&key=pulse_cabinet-file-4537c9e9-cdf0-43b1-8a85-9ce02d8bf195');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h1 {
    text-align: center;
    color: rgb(146, 146, 146);
    font-size: 100ppx
}

p {
    text-align:center;
    color:white;
    font-size: 50px;
    margin-top: 100px
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: left;
    box-shadow: 0 5px 0 0 rgb(102, 255, 0);
    background-color: rgb(255, 8, 0);
}
